#herbs {
    color: rgb(88, 88, 88);
    font-size: 100px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   
}

nav {
    background-color: rgb(90, 134, 23);
}

.card {
    background-color: rgb(90, 134, 23);
}


#search-form {
    display: flex;
    justify-content: center;
    width: 75;
    height: 100%;
    align-items: center;

}

body {
    text-align: center;
    background-color: rgb(90, 134, 23);
}

.container {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}


.modal-title {
    display: block;
    width: 100%;
    color: white;
}

.modal-body p{
    margin: 10px;
    font-weight: 500;
    color: white;
}

.modal-content {
    background-color: black;
}

.dropdown-menu {
    background-color: black;
    color: black;
}

.dropdown li {
    color: black;
    padding: 15px;
    margin: 5px;
    
}

.dropdown li a:visited {
    color: white;
}

.dropdown li a:link {
    color: white;
}

.nav-item nav-link:visited {
    color: rgb(88, 88, 88);
}

.nav-item nav-link:link {
    color: rgb(88, 88, 88);
}

btn btn-default dropdown-toggle {
    color: rgb(88, 88, 88);
}

*, {
    background-color: rgb(90, 134, 23);
}


#holder, #holder2, #holder3 {
    border: 1px solid black;
}

h1 {
    font-size: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(88, 88, 88);
}

#emptycart:visited{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(88, 88, 88);
}